SECRET_KEY=django-insecure<tu_clave_secreta>'
DEBUG=True

GROQ_API_KEY=gsk_tu_api_key_aqui
GROQ_API=https://api.groq.com/openai/

LLAMACPP_API=http://localhost:8080/

UPSTASH_VECTOR_REST_URL=
UPSTASH_VECTOR_REST_TOKEN=

DATABASE_URL=